:root{
    --primary-color: #8FD2E6;
    --secondary-color: #EBCDA7;
    --tertiary-color: #DFABCF;
    --quaternary-color: #313131;
    --quinary-color: #5D7AB5;
}

.custom-color-header {
    background-color: white;
}

.custom-color-sidebar {
    color: white;
    background-color: var(--quinary-color);
}

.custom-color-sidebar:hover {
    background-color: var(--primary-color);
}

body {
    background-color: white;
}

.custom-color-button {
    background-color: var(--quinary-color);
    color: white;
}

.custom-color-button:hover{
    background-color: var(--primary-color);
    color: white;
}

p{
    color: var(--quaternary-color);
    font-family: Montserrat-Regular;
}

h2{
    font-family: Montserrat-Bold;
    color: var(--tertiary-color);
}

.mt-custom {
    margin-top: 100px;
}

.ml-custom {
    margin-left: 50px;
}

.ml-book {
    margin-left: 10%;
}

.mr-book {
    margin-right: 10%;
}

.mb-custom {
    margin-bottom: 100px;
}

.mb-sidebar-custom {
    margin-bottom: 5px;
}

.mr-custom {
    margin-right: 20px;
}

form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-floating{
    margin-bottom: 10px;
}

.floating-input {
    color:var(--quaternary-color);
}

.ajustes {
    display: grid;
    /* 2 columnas y 1 fila*/
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    margin-left: 0px;
    margin-top: 100px;
}

.settings-menu {
    margin-left: 5em;
    margin-top: 6em;
}

.alert{
    width: 600px;
    background-color: var(--tertiary-color);
    margin-left: auto;
    margin-right: auto;
}

.sidebar-custom {
    color: var(--quaternary-color);
    margin-bottom: 5px;
}

a.sidebar-custom:hover{
    color: var(--primary-color);
}

.btn:hover {
    color: white;
}

.custom-color-button-2:hover{
    color: var(--primary-color);
}

.nav-link:hover{
    color: var(--primary-color);
}

.nav-link{
    color: var(--quaternary-color);
}


@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}

.book-cover {
    border-radius: 2%;
    height: 15.3em;
    width: 10.2em;
}

.details {
    color: var(--quaternary-color);
    opacity: 75%;
}

.synopsis{
    text-align: justify;
    color: var(--quaternary-color);
}

.special-card {
    background-color: var(--quinary-color);
    opacity: 80%;
    border-radius: 2%;
    width: 17em;
    height: 12em;
}

.icon{
    font-size: 1.4em;
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    margin-right: 0;
    margin-left: 0;
    color: white;
}

.icon:hover, .icon:hover i{
    color: var(--secondary-color);
}

.rating {
    font-size: 1.8em;
}

.rating:hover{
    
}

.text-icon{
    font-size: 0.8em;
    color: white;
}

.icon-btn {
    background: none;
    border-style: none;
    margin: 0;
}

.txt-box {
    width: 30%;
    height: 75%;
    text-align: right;
    display: inline-block;
    margin-left: 0;
}

label{
    color: white;
}

/* SPIN BOX INPUT HIDE*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}