.custom-color-header {
    background-color: #a39193;
}

body {
    background-color: #2c2428;
}

.custom-color-button {
    background-color: #f6e0b5;
}

h2 {
    color: white;
}

.mt-custom {
    margin-top: 45px;
}

.mr-custom {
    margin-right: 20px;
}

form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-floating{
    margin-bottom: 10px;
}
