.custom-color-header {
    background-color: #a39193;
}

.custom-color-side-bar {
    background-color: #eea990;
}

body {
    background-color: #2c2428;
}

.custom-color-button {
    background-color: #f6e0b5;
}

p, h2 {
    color: white;
}

.mt-custom {
    margin-top: 45px;
}

.mb-custom {
    margin-bottom: 100px;
}

.mr-custom {
    margin-right: 20px;
}

form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-floating{
    margin-bottom: 10px;
}

.ajustes {
    display: grid;
    /* 2 columnas y 1 fila*/
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    margin-left: 20px;
    margin-top: 45px;
}

.settings-menu {
    display: block;
    /*<start> / <end>*/
    grid-column: 1 / 2;
}

.campos {
    grid-column: 2 / 3;
}

.custom-link {
    text-decoration: none;
    color:#eea990;
    margin-bottom: 30px;
}

.alert{
    width: 600px;
    background-color: #ffc4c4;
    margin-left: auto;
    margin-right: auto;
}