:root{
    --primary-color: #9dc0e9;
    --secondary-color: #EBCDA7;
    --tertiary-color: #DA7F8F;
    --quaternary-color: #313131;
    --quinary-color: #ccdaec;
    --background-color: #FAF3F3;
    --navbar-color: #FAF3F3;
}

.custom-color-header {
    background-color: var(--navbar-color);
}

.custom-color-sidebar {
    color: white;
    background-color: var(--primary-color);
}

.custom-color-sidebar:hover {
    background-color: var(--tertiary-color);
}

body {
    background-color: var(--background-color);
}

.custom-color-button {
    background-color: var(--primary-color);
    color: white;
}

.custom-color-button:hover {
    background-color: var(--tertiary-color);
    color: white;
}

p {
    color: var(--quaternary-color);
    font-family: Montserrat-Regular;
    word-break: normal;
    white-space: normal;
}

small {
    word-break: normal;
    white-space: normal;
}

h2, h5 {
    font-family: Montserrat-Bold;
    color: var(--tertiary-color);
}

.mt-custom {
    margin-top: 100px;
}

.mt-custom-settings{
    margin-top: 2.5em;
}

.ml-custom {
    margin-left: 50px;
}

.ml-book {
    margin-left: 10%;
}

.mr-book {
    margin-right: 10%;
}

.ml-club {
    margin-left: 20%;
}

.mr-club{
    margin-right: 20%;
}

.mb-custom {
    margin-bottom: 100px;
}

.mb-sidebar-custom {
    margin-bottom: 5px;
}

.mr-custom {
    margin-right: 20px;
}

form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-floating{
    margin-bottom: 10px;
}

.floating-input {
    color: var(--quaternary-color);
}

.settings-btn {
    display: flex;
}

.search-btn {
    display: flex;
}

.center-search {
    margin: 1em auto 1em auto;
}

.center{
    margin: 7em auto 0em auto;
}

.center a{
    margin: 0 2em;
}

.alert{
    width: 600px;
    background-color: var(--tertiary-color);
    margin-left: auto;
    margin-right: auto;
}

.sidebar-custom {
    color: var(--quaternary-color);
    margin-bottom: 5px;
}

a.sidebar-custom:hover{
    color: var(--tertiary-color);
}

.btn:hover {
    color: white;
}

.custom-color-button-2:hover{
    color: var(--tertiary-color);
}

.nav-link:hover{
    color: var(--tertiary-color);
}

.nav-link{
    color: var(--quaternary-color);
}


@font-face {
    font-family: Montserrat-Bold;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./fonts/Montserrat-Regular.ttf);
}

.book-cover {
    border-radius: 2%;
    height: 16.83em;
    width: 11.22em;
}

.details {
    color: var(--quaternary-color);
    opacity: 75%;
}

.synopsis{
    text-align: justify;
    color: var(--quaternary-color);
}

.special-card {
    background-color: var(--quinary-color);
    opacity: 80%;
    border-radius: 2%;
    width: 17em;
    height: 12em;
}

.icon{
    font-size: 1.4em;
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    margin-right: 0;
    margin-left: 0;
    color: white;
}

.icon-filled{
    font-size: 1.4em;
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    margin-right: 0;
    margin-left: 0;
    text-decoration: none;
    color: var(--primary-color);
}

.icon-filled:hover{
    color: var(--primary-color);
}

.icon:hover, .icon:hover i{
    color: var(--primary-color);
}

.rating {
    font-size: 1.8em;
    text-decoration: none;
}

.notif {
    font-size: 1.3em;
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 0.8em;
    margin-left: 0;
}

.notif:hover{
    color:var(--tertiary-color);
}

.text-icon{
    font-size: 0.8em;
    color: white;
}

.icon-btn {
    background: none;
    border-style: none;
    margin: 0;
}

.txt-box {
    width: 30%;
    height: 75%;
    text-align: right;
    display: inline-block;
    margin-left: 0;
}

label{
    color: white;
}

/* SPIN BOX INPUT HIDE*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.review{
    border-radius: 2%;
    margin: 0.4em auto;
}

.reviews {
    margin-top: 3.5em ;
}

.synopsis{
    min-height: 10em;
}

.mb-comment{
    margin-bottom: 3em;
}

.bg-progress{
    background-color: var(--primary-color);
}

.book-cover-club{
    border-radius: 2%;
    height: 8.71em;
    width: 5.80em;
}

.club-desc{
    margin-bottom: 3em;
}

.club-author{
    opacity: 75%;
}

.mt-progress-bar{
    margin-top: 0.5em;
}

.ml-reply {
    margin-left: 220%;
}

.reply:hover {
    color: var(--tertiary-color);
}

.search-picture {
    margin: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.mt-custom-search {
    margin-top: 50px;
}

.user-overview {
    height: auto;
    width: 300px;
    margin: 20px auto;
}

.username-overview {
    margin: auto 0;
    
}

.username-overview p {
    word-break: keep-all;
    white-space: nowrap;
}

.social-picture {
    margin: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-username {
    font-weight: bold;
    font-size: x-large;
}

.profile-follow {
    margin: 0;
}

.profile-user-info {
    margin: 20px;
}

.profile-icon{
    margin-right: 20px;
    font-size: x-large;
    color: var(--primary-color);
}

.profile-left-column{
    margin-right: 40px;
}

.ml-profile{
    margin-left: 40px;
}

.mr-profile{
    margin-right: 40px;
}

.notification{
    color: var(--quaternary-color);
    width: 500px;
    height: 50px;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
}

.text-notification {
    margin: 0;
}

.read-notification{
    background-color: #e4e4e4;
}